In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [3]:
data=pd.read_csv('data\kc_house_data.csv')

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

In [6]:
wt=data.loc[(data['waterfront']=='YES')]

In [7]:
x= data.drop(columns=['price','id'])
y = data['price']

In [8]:
dp=pd.concat([x,y],axis=1)

In [9]:
dp.corr().price.sort_values(ascending=False)

price            1.000000
sqft_living      0.608521
sqft_above       0.538651
bathrooms        0.480401
sqft_patio       0.313409
bedrooms         0.289204
sqft_garage      0.264169
sqft_basement    0.245058
floors           0.180576
yr_built         0.096013
sqft_lot         0.085730
yr_renovated     0.084786
lat              0.063632
long            -0.022509
Name: price, dtype: float64

In [10]:
data['grade'].value_counts()

7 Average        11697
8 Good            9410
9 Better          3806
6 Low Average     2858
10 Very Good      1371
11 Excellent       406
5 Fair             393
12 Luxury          122
4 Low               51
13 Mansion          24
3 Poor              13
1 Cabin              2
2 Substandard        2
Name: grade, dtype: int64

In [11]:
y= data['price']
X = pd.get_dummies(data[['grade']])
model= sm.OLS(y,sm.add_constant(X)).fit()

In [12]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.410
Model:                            OLS   Adj. R-squared:                  0.409
Method:                 Least Squares   F-statistic:                     1608.
Date:                Sat, 11 Feb 2023   Prob (F-statistic):               0.00
Time:                        12:41:22   Log-Likelihood:            -4.4815e+05
No. Observations:               30155   AIC:                         8.963e+05
Df Residuals:                   30141   BIC:                         8.964e+05
Df Model:                          13
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                2.748e+16   6.66e+16      0.413      0.680   -1.03e+17    1.58e+17
grade_1 Cabin       -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_10 Very Good  -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_11 Excellent  -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_12 Luxury     -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_13 Mansion    -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_2 Substandard -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_3 Poor        -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_4 Low         -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_5 Fair        -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_6 Low Average -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_7 Average     -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_8 Good        -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_9 Better      -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
==============================================================================
Omnibus:                    40471.349   Durbin-Watson:                   1.861
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         32419440.426
Skew:                           7.183   Prob(JB):                         0.00
Kurtosis:                     162.987   Cond. No.                     7.13e+13
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.64e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [16]:
nice_houses=data.drop(data[data.grade.isin(["5 Fair", "4 Low", "3 Poor", "2 Substandard", "1 Cabin"])].index)

In [17]:
grade_avg.info()

NameError: name 'grade_avg' is not defined

In [18]:
no_price=data.loc[(data['price']==0)]

In [19]:
no_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             0 non-null      int64
 1   date           0 non-null      object
 2   price          0 non-null      float64
 3   bedrooms       0 non-null      int64
 4   bathrooms      0 non-null      float64
 5   sqft_living    0 non-null      int64
 6   sqft_lot       0 non-null      int64
 7   floors         0 non-null      float64
 8   waterfront     0 non-null      object
 9   greenbelt      0 non-null      object
 10  nuisance       0 non-null      object
 11  view           0 non-null      object
 12  condition      0 non-null      object
 13  grade          0 non-null      object
 14  heat_source    0 non-null      object
 15  sewer_system   0 non-null      object
 16  sqft_above     0 non-null      int64
 17  sqft_basement  0 non-null      int64
 18  sqft_garage    0 non-null      int64
 19  sqft_patio     0 non-null      int64
 20  yr_built       0 non-null      int64
 21  yr_renovated   0 non-null      int64
 22  address        0 non-null      object
 23  lat            0 non-null      float64
 24  long           0 non-null      float64
dtypes: float64(5), int64(10), object(10)
memory usage: 0.0+ bytes

In [20]:
nice_houses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29694 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             29694 non-null  int64
 1   date           29694 non-null  object
 2   price          29694 non-null  float64
 3   bedrooms       29694 non-null  int64
 4   bathrooms      29694 non-null  float64
 5   sqft_living    29694 non-null  int64
 6   sqft_lot       29694 non-null  int64
 7   floors         29694 non-null  float64
 8   waterfront     29694 non-null  object
 9   greenbelt      29694 non-null  object
 10  nuisance       29694 non-null  object
 11  view           29694 non-null  object
 12  condition      29694 non-null  object
 13  grade          29694 non-null  object
 14  heat_source    29682 non-null  object
 15  sewer_system   29682 non-null  object
 16  sqft_above     29694 non-null  int64
 17  sqft_basement  29694 non-null  int64
 18  sqft_garage    29694 non-null  int64
 19  sqft_patio     29694 non-null  int64
 20  yr_built       29694 non-null  int64
 21  yr_renovated   29694 non-null  int64
 22  address        29694 non-null  object
 23  lat            29694 non-null  float64
 24  long           29694 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.9+ MB

In [21]:
data.loc[(data['bathrooms']==0)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
573,3920030050,5/19/2022,930000.0,0,0.0,1617,2156,3.0,NO,NO,...,PUBLIC,2156,0,0,0,2009,0,"6019 Roosevelt Way Northeast, Seattle, Washing...",47.672700,-122.317810
1289,2768301406,3/2/2022,1090000.0,0,0.0,1500,1262,3.0,NO,NO,...,PUBLIC,1500,0,0,0,2021,0,"A, Leadwood, Missouri 63653, United States",37.859790,-90.581130
1310,3462800015,11/10/2021,360000.0,0,0.0,910,19000,1.0,NO,NO,...,PRIVATE,910,0,0,250,1946,0,"26125 79th Avenue South, Kent, Washington 9803...",47.366765,-122.235430
1952,2020069042,9/27/2021,399990.0,0,0.0,1677,43264,1.0,NO,NO,...,PUBLIC,1677,0,0,0,1969,0,"43407 212th Avenue Southeast, Enumclaw, Washin...",47.211660,-122.059200
2930,9413400100,10/5/2021,200000.0,2,0.0,730,10613,1.5,YES,NO,...,PRIVATE,730,0,0,120,1923,0,"52309 SE 496th Pl, Enumclaw, Washington 98022,...",47.155265,-121.648225
4835,9523101492,1/27/2022,830000.0,0,0.0,1255,983,3.0,NO,NO,...,PUBLIC,1672,0,0,0,2018,0,"307 North 65th Street, Seattle, Washington 981...",47.675845,-122.354885
7545,4318200415,12/17/2021,1225000.0,0,0.0,1940,8893,2.0,NO,NO,...,PUBLIC,1940,0,220,210,2016,0,"7453 Gatewood Road Southwest, Seattle, Washing...",47.536140,-122.385170
8338,9265400150,7/20/2021,550000.0,0,0.0,1370,8169,2.0,NO,NO,...,PUBLIC,1370,0,480,350,1989,0,"615 Yakima Avenue South, Pacific, Washington 9...",47.258675,-122.255300
8445,4447300012,9/27/2021,841000.0,0,0.0,1327,875,3.0,NO,NO,...,PUBLIC,1768,0,0,0,2018,0,"8386 Loyal Way Northwest, Seattle, Washington ...",47.690280,-122.397820
8468,7849200340,10/19/2021,435000.0,1,0.0,370,7200,1.0,NO,NO,...,PUBLIC,370,0,390,0,1919,0,"8164 Falls Avenue Southeast, Snoqualmie, Washi...",47.527100,-121.822980
8749,3920030080,5/25/2022,685000.0,0,0.0,1336,888,3.0,NO,NO,...,PUBLIC,1780,0,0,0,2009,0,"6025 Roosevelt Way Northeast, Seattle, Washing...",47.672825,-122.317685
9063,7616200105,12/30/2021,650000.0,0,0.0,920,6837,2.0,NO,NO,...,PUBLIC,920,0,0,130,2019,0,"5030 Southwest Admiral Way, Seattle, Washingto...",47.579550,-122.396760
9341,7606200378,2/1/2022,855000.0,3,0.0,1420,6206,1.5,NO,NO,...,PUBLIC,1420,700,700,170,1995,0,"7925 Pine Avenue, Snoqualmie, Washington 98065...",47.529595,-121.831055
12697,4215220010,9/1/2021,2060000.0,4,0.0,3960,7150,2.0,NO,NO,...,PUBLIC,3960,0,710,60,2009,0,"22413 Southeast 32nd Street, Sammamish, Washin...",47.580780,-122.040815
12864,4449800002,5/26/2022,700000.0,0,0.0,1215,486,3.0,NO,NO,...,PUBLIC,1620,0,0,0,2008,0,"Northwest 85th Street, Seattle, Washington 981...",47.690480,-122.376550
14827,1728800145,9/29/2021,2500000.0,0,0.0,7710,7182,2.5,NO,NO,...,PUBLIC,5580,2569,0,0,1910,0,"1727 15th Avenue, Seattle, Washington 98122, U...",47.617285,-122.313090
16787,2767701526,7/14/2021,649950.0,0,0.0,1290,715,3.0,NO,NO,...,PUBLIC,1720,0,0,0,2006,0,"1504 Northwest 52nd Street, Seattle, Washingto...",47.666685,-122.376655
17536,3920030100,7/26/2021,900000.0,0,0.0,1768,771,3.0,NO,NO,...,PUBLIC,2356,0,0,0,2009,0,"6029 Roosevelt Way Northeast, Seattle, Washing...",47.672820,-122.317535
18916,7550800737,7/21/2021,800000.0,0,0.0,1455,646,3.0,NO,NO,...,PUBLIC,1940,0,0,0,2016,0,"6312A 32nd Ave NW, Seattle, Washington 98107, ...",47.674970,-122.398250
19920,3920030040,7/7/2021,690000.0,0,0.0,1312,739,3.0,NO,NO,...,PUBLIC,1748,0,0,0,2009,0,"6017 Roosevelt Way Northeast, Seattle, Washing...",47.672710,-122.317745
20643,1232001191,3/30/2022,1060000.0,0,0.0,1541,649,4.0,NO,NO,...,PUBLIC,1540,0,0,0,2018,0,"7749B 15th Ave NW, Seattle, Washington 98117, ...",47.685360,-122.376920
22249,1437500046,2/4/2022,1120000.0,0,0.0,480,15000,1.0,NO,NO,...,PRIVATE,480,0,0,250,1980,1995,"11831 Tye River Road Northeast, Skykomish, Was...",47.710770,-121.316360
23914,2767701527,12/1/2021,660000.0,0,0.0,1296,778,3.0,NO,NO,...,PUBLIC,1728,0,0,0,2006,0,"1506 Northwest 52nd Street, Seattle, Washingto...",47.666725,-122.376660
25133,1535200765,1/6/2022,525000.0,0,0.0,210,11587,1.0,NO,NO,...,PRIVATE,210,0,0,0,1930,0,"20407 81st Avenue Southwest, Vashon, Washingto...",47.421790,-122.437495
25994,3920030010,1/9/2022,939000.0,0,0.0,1768,772,3.0,NO,NO,...,PUBLIC,2356,0,0,0,2009,0,"6011 Roosevelt Way Northeast, Seattle, Washing...",47.672705,-122.317535
27540,3920030060,12/20/2021,850000.0,0,0.0,1738,2143,3.0,NO,NO,...,PUBLIC,2316,0,0,0,2009,0,"6021 Roosevelt Way Northeast, Seattle, Washing...",47.672820,-122.317820
28508,4083301619,10/6/2021,654950.0,0,0.0,900,575,3.0,NO,NO,...,PUBLIC,900,0,0,230,2021,0,"1703 N 42nd St, Seattle, Washington 98103, Uni...",47.657900,-122.336810
28815,2923099026,12/13/2021,205000.0,0,0.0,170,20300,1.0,YES,NO,...,NaN,170,0,0,70,1958,0,"49702 172nd Street Southeast, North Bend, Wash...",47.444655,-121.678390
28816,2923099027,12/13/2021,205000.0,1,0.0,100,25400,1.0,YES,NO,...,NaN,100,0,0,140,1963,0,"49622 172nd Street Southeast, North Bend, Wash...",47.444745,-121.678790
29574,2827100079,5/4/2022,610000.0,0,0.0,1530,1392,1.0,NO,NO,...,PUBLIC,980,950,800,60,2003,0,"829 Whitman Avenue North, Shoreline, Washingto...",47.734930,-122.346570
29732,4080800010,9/27/2021,80000.0,2,0.0,870,12932,1.0,YES,NO,...,PRIVATE RESTRICTED,510,360,0,200,1910,0,"27525 Southeast 306th Street, Black Diamond, W...",47.326935,-121.974790

In [30]:
zip_codes = data['address'].str.extract(r'(\d{5}\-?\d{0,4})')

In [39]:
data['zip_codes']=zip_codes

In [40]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,zip,zip_codes
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052,98055,98055
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591,11231,11231
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520,98178,98178
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020,98118,98118
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188,98027,98027

In [49]:
most_diverse=[98188,98108,98030,98118,98178,98168,98003,98032,98148,98057,98106,98144,98031,98055,98198,98146,98023,98056,98002,98047,98125,98092,98133,98007,98058]

In [50]:
list_livingcost_zip = [98074, 98065, 98019, 98052, 98077, 98029, 98075, 98010, 98038, 98053, 98028, 98005, 98033, 98034, 98004, 98042, 98006, 98007, 98011, 98045, 98121, 98092, 98039, 98008, 98059]

In [51]:
top_SD = [98004, 98005, 98007, 98008, 98039, 98052, 98074, 98033, 98006, 98053, 98034, 98075, 98029, 98027, 98011, 98040, 98028, 98072, 98077, 98059, 98155, 98038, 98024, 98065, 98177]